* {
  font-family: "acumin-pro-semi-condensed", sans-serif;
        color: white;
}

.account {
width: 50px;
}

.cross {
   position: absolute;
    max-width: 17px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.cross:hover {
    cursor: pointer;
}

.qr {
    /*    display: block;*/
    /*position: absolute;*/
    /*left: 0;*/
    width: 125px;
    /*right: 0;*/
    /*margin: auto;*/
}

.qr_container {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.qr_caption {
    display: block;
}



/*
 position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
 */

.account_address {
        display: inline;
    font-size: 20px;
}

.address_title {
    position: relative;
display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.settings_title {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.address_title_inner {
display: inline-block;
    margin-left: 15px;
}

/** Headings: Sol Pro Regular  */
h1, h2 {
        margin-top: 28px;
    font-family: "sol-pro", sans-serif;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 32px;
}

/** Body Text: Acumin Pro SemiCondensed Regular */
body {
 font-weight: 600;
}

/* buttons in login and initial page, no container div */
.button-free-standing {
     width: 85%;
     margin: 10px auto;
}

.fetch_link, button, input {
    display: block;
    /* margin: auto; */
    font-size: 24px;
    border-width: 3px;
    border-radius: 35px;
    background-color: Transparent;
    /* border-color: coral; */
    border-color: #00b6a0;
    border-style: solid;
    padding-top: 3px;
    padding-bottom: 9px;
}

.fetch_link {
  text-decoration: none;
}

.logout_button {
        position: absolute;
    bottom: 10px;
}

.input_container label {
    padding-left: 10px;
    width: 84px;
    display: inline-block;
}

.custom_select {
   margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 9px;
}

.select_container {
      display: inherit;
}

.input_container {
    display: flex;
    height: 50px;
}

.settings_form {
    margin-top: 10px;
    margin-bottom: 15px;
}

.form_label_single_line {
    line-height: 50px;
}

.change_password_legend {
    padding-top:10px;
    padding-bottom:10px;
}

.change_password_input {
    background: none;
    text-indent: 6px;
    padding: 2px 6px;
    margin: 10px 18px;
    min-width: 259px;
    border-color: white;
}

.clear {
    clear: both;
}

.update_button {
       float: right;
    border-color: white;
    border-radius: 10px;
    font-size: 19px;
}

.settings_about {
    margin-left: 12px;
}

.large-button {
    width: 98%;
    margin: 15px 0;
}

.balance_container {
    text-align: center;
}

input.large-button  {
        text-indent: 44px;
    font-size: 16px;
}

hr
{
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 2px;
    margin-top: 12px;
    margin-bottom: 25px;
}

.small-button {
 display: inline;
    width: 47%;
    margin: 10px 3px;
    font-size: 24px;
}

.plus {
width: 125px;
}

.plain_button {
            border: none;
    padding: 0px;
    margin-left: 0px;
}

.small-button-container {

}

button:focus {
    outline:none;
}

input {
    background: url('/assets/lock_icon.svg') no-repeat;
    text-indent: 50px;
    font-size: 16px;
    padding: 11px 0px;
    background-size: 24px 24px;
    background-position: 14px 10px;
}

/* different placeholder css for different browsers */
::-webkit-input-placeholder { /* Edge */
  color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::placeholder {
  color: white;
}

.logo {
        height: 64px;
}

#my-extension-root{
  position: fixed;
  top: 0px;
  right: 0px;
   width: 369px;
  height: 656px;
     /*background-color: Transparent;*/
    background-color: #1c2846;
  box-shadow: 0px 0px 5px #0000009e;
  z-index: 99999999999999;
  display: block;
}

.overlay1 {
     position: absolute;
  top: 0px;
}

.OverlayMain {
    position: absolute;
  top: 0px;
    width: 100%;
    height: 100%;
}

.OverlayMainInner {
    margin-left: 10%;
    width: 80%;
    height: 100%;
}

.overlayN {
     position: absolute;
  top: 0px;
     color: #FFF;
    width:100%
}
.overlayNinner {
margin-left: 10%;
    width: 80%;
}

.overlay2 {
  position: absolute;
  top: 425px;
  color: #FFF;
  text-align: center;
  /*background-color: rgba(221, 221, 221, 0.3);*/
  z-index: 2147483647;
  width: 100%;
}

.overlay3 {

}

#reddy {
    color: green;
}

.vid {
    top:0;
    float: left;
    width: 100%;
    height:  100%;

}

/*.overlay {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  background: rgba(0, 0, 0, 0.5);*/

/*  color: #f1f1f1;*/
/*  width: 100%;*/
/*  padding: 20px;*/
/*}*/

.fetch-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.lock {
background-image: url('/assets/lock_icon.svg');
background-repeat: no-repeat;
background-position: left;
padding-right: 5px;

}

/** custom select start */

/* The container must be positioned relative: */
.custom_select {
    width:180px;
    position: relative;
    background-color: #1c2846;
    border-width: medium;
    border-radius: 9px;
    border-color: white;
}

/*.custom_select select {*/
/*  display: none; !*hide original SELECT element: *!*/
/*}*/

/*.select-selected {*/
/*  background-color: pink;*/
/*}*/

/* Style the arrow inside the select element: */
/*.select-selected:after {*/
/*  position: absolute;*/
/*  content: "";*/
/*  top: 14px;*/
/*  right: 10px;*/
/*  width: 0;*/
/*  height: 0;*/
/*  border: 6px solid red;*/
/*  border-width: medium;*/
/*  border-color: #fff transparent transparent transparent;*/
/*}*/

/*!* Point the arrow upwards when the select box is open (active): *!*/
/*.select-selected.select-arrow-active:after {*/
/*  border-color: transparent transparent #fff transparent;*/
/*  top: 7px;*/
/*}*/

/*!* style the items (options), including the selected item: *!*/
/*.select-items div,.select-selected {*/
/*  color: #ffffff;*/
/*  padding: 8px 16px;*/
/*  border: 1px solid green;*/
/*  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
/*  cursor: pointer;*/
/*}*/

/*!* Style items (options): *!*/
/*.select-items {*/
/*  position: absolute;*/
/*  background-color: red;*/
/*  top: 100%;*/
/*  left: 0;*/
/*  right: 0;*/
/*  z-index: 99999999999;*/
/*}*/

/*!* Hide the items when the select box is closed: *!*/
/*.select-hide {*/
/*  display: none;*/
/*}*/

/*.select-items div:hover, .same-as-selected {*/
/*  background-color: green;*/
/*}*/

/** custom select end */

