* {
  font-family: "acumin-pro-semi-condensed", sans-serif;
        color: white;
}

.account {
width: 50px;
}

.cross {

   position: absolute;
    max-width: 17px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.cross:hover {
    cursor: pointer;
}

.qr {
    /*    display: block;*/
    /*position: absolute;*/
    /*left: 0;*/
    width: 125px;
    /*right: 0;*/
    /*margin: auto;*/
}

.qr_container {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.qr_caption {
    display: block;
}



/*
 position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
 */

.account_address {
        display: inline;
    font-size: 20px;
}

.address_title {
    position: relative;
display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.settings_title {
    position: relative;
    display: inline-block;
    width: 100%;
}

.address_title_inner {
display: inline-block;
    margin-left: 15px;
}

/** Headings: Sol Pro Regular  */
h1, h2 {
        margin-top: 28px;
    font-family: "sol-pro", sans-serif;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 32px;
}

/** Body Text: Acumin Pro SemiCondensed Regular */
body {
 font-weight: 400;
}

/** Buttons & Sub-headings: Acumin Pro SemiCondensed Semibold */
button, h2, h3, h3, h4, h5, h6  {
  /* semi-bold */
  font-weight: 600;
}

/* buttons in login and initial page, no container div */
.button-free-standing {
     width: 85%;
     margin: 10px auto;
}

.fetch_link, button, input {
    font-weight: 600;
    display: block;
    /* margin: auto; */
    font-size: 24px;
    border-width: 3px;
    border-radius: 35px;
    background-color: Transparent;
    /* border-color: coral; */
    border-color: #00b6a0;
    border-style: solid;
    padding-top: 3px;
    padding-bottom: 9px;
}

.fetch_link {
  text-decoration: none;
}

.large-button {
    width: 98%;
    margin: 15px 0;
}

input.large-button  {
        text-indent: 44px;
    font-size: 16px;
}

hr
{
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 2px;
    margin-top: 12px;
    margin-bottom: 25px;
}

.small-button {
 display: inline;
    width: 47%;
    margin: 10px 3px;
    font-size: 24px;
}

.plain_button {
        border: none;
}

.small-button-container {

}

button:focus {
    outline:none;
}

input {
    background: url('/assets/lock_icon.svg') no-repeat;
    text-indent: 50px;
    font-size: 16px;
    padding: 11px 0px;
    background-size: 24px 24px;
    background-position: 14px 10px;
}

/* different placeholder css for different browsers */
::-webkit-input-placeholder { /* Edge */
  color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::placeholder {
  color: white;
}

.logo {
        height: 64px;
}

/** Sub-text: Acumin Pro SemiCondensed Light */
p {
 font-weight: 300;
}

#my-extension-root{
  position: fixed;
  top: 0px;
  right: 0px;
   width: 369px;
  height: 656px;
     /*background-color: Transparent;*/
    background-color: #1c2846;
  box-shadow: 0px 0px 5px #0000009e;
  z-index: 99999999999999;
  display: block;
}

.overlay1 {
     position: absolute;
  top: 0px;
}

.OverlayMain {
    position: absolute;
  top: 0px;
    width: 100%;
    height: 100%;
}

.OverlayMainInner {
    margin-left: 10%;
    width: 80%;
}

.overlayN {
     position: absolute;
  top: 0px;
     color: #FFF;
    width:100%
}
.overlayNinner {
margin-left: 10%;
    width: 80%;
}

.overlay2 {
  position: absolute;
  top: 425px;
  color: #FFF;
  text-align: center;
  /*background-color: rgba(221, 221, 221, 0.3);*/
  z-index: 2147483647;
  width: 100%;
}

.overlay3 {

}

#reddy {
    color: green;
}

.vid {
    top:0;
    float: left;
    width: 100%;
    height:  100%;

}

/*.overlay {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  background: rgba(0, 0, 0, 0.5);*/

/*  color: #f1f1f1;*/
/*  width: 100%;*/
/*  padding: 20px;*/
/*}*/

.fetch-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.lock {
background-image: url('/assets/lock_icon.svg');
background-repeat: no-repeat;
background-position: left;
padding-right: 5px;

}